/*transformacion de icono*/
#key:checked ~ .click > :nth-child(1){
    transform: translateY(10px) rotate(45deg);
    background-color: rgb(244, 129, 148);
}

#key:checked ~ .click > :nth-child(2){
    opacity: 0;
    transform: scaleX(0);
    height: 0;
    margin: 0;
    /* visibility: hidden; */
}
#key:checked ~ .click > :nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
    background-color: rgb(244, 129, 148);

}
/*efecto acordeon del menu(icono)*/
#key{
    display: none;
}
.click{
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
}
.click span{
    padding: 3px;
    width: 30px;
    background-color: skyblue;
    border-radius: 5px;
    transition: transform 0.4s ease-in, opacity 0.3s ease;
}
.click:active span{
    background-color: white;
}
.menu{
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: all 0.4s ease-in;
}
#key:checked ~ .cont-menu .menu{
   opacity: 1;
   height: 150px;
}