*{
    margin: 0;
    padding: 0;
}

main{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden; 
}

.video-fondo{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
header{
    position: relative;
    color: white;
    top: 5rem;
    left: 5rem;
     letter-spacing: .8px;
     display: inline-block;
     padding: .5rem;
}
/*-------------------------------------------*/
/*nav/menu(ul)*/
.cont-menu{
    margin-top: 1rem;
    transition: transform .4s ease-in;
}
header .menu{
    list-style: none;
    font-size: 1.2rem;
   display: flex;
   align-items: center;
   justify-content:space-around;
   flex-direction: column;
   /* gap: 5px; */
   border: 1px solid white;
   border-radius: 10%;
   
}
/*efecto luz luminosa recorriendo borde de .menu*/


 