@import url('https://fonts.googleapis.com/css2?family=Erica+One&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Protest+Guerrilla&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
}

.video-fondo {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

header {
    position: absolute;
    color: white;
    top: 0;
    left: 5rem;
    letter-spacing: .8px;
    display: inline-block;
    padding: .5rem;
}

/*-------------------------------------------*/
/*nav/menu(ul)*/
.cont-menu {
    margin-top: 1rem;
    transition: transform .4s ease-in;
}

header .menu {
    list-style: none;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 20px;
    font-family: 'Quantico', 'sans-serif';
    font-weight: 900;
    letter-spacing: 2px;
}

header h1 {
    font-family: 'Quantico';
}

header .menu li a {
    color: white;
    text-decoration: none;
}
 .menu .contact a {
    text-decoration: line-through;
}

/*item activo*/
header .menu li .act1 {
    color: cyan;
    font-weight: bold;
    cursor: pointer;
    border-bottom: 1px solid cyan;

}

header .menu li.act2 a {
    color: cyan;
    font-weight: bold;
    border-bottom: 1px solid cyan;

}

/*-----------------------------------*/
footer {
    text-align: center;
    background-color: #222;
    padding: 1rem;
    font-family: 'Pacifico', cursive;
    letter-spacing: 1px;
}

footer .menu_footer {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin: 1rem;
}

footer p {
    color: whitesmoke;
    display: inline-block;
}

.sobre_mi p {
    font-family: 'Exo 2';


}

