/* Tu media query de accesibilidad */
@media (prefers-reduced-motion: no-preference) {
  body {
    transition: opacity 0.4s ease;
  }
}
/*animacion de entrada del body*/
body.fade{
opacity: 0;
transition: opacity 0.2s ease;
}

@keyframes fadeInBody{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.fade{
    animation: fadeInBody 1.2s ease-in-out forwards;
}

