@import url('https://fonts.googleapis.com/css2?family=Erica+One&family=Protest+Guerrilla&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu_header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #222;
    color: whitesmoke;
}

.menu_header li {
    list-style: none;
    transition: all 0.4s ease-in-out;
    
}

/*before inicio*/
.menu_header li a {
    display: inline-block;
    border: 1px solid whitesmoke;
    border-radius: 20px;
    text-decoration: none;
    padding: 0 15px;
    color: whitesmoke;
    padding: 5px 15px;
    position: relative;
    transition: all 0.4s ease-in-out;
    text-align: end;
    font-family: 'Quantico', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
}

.menu_header li a:active {
    background-color: cyan;
}
/*item activo*/
header .menu_header li .act1{
color: cyan;
font-weight: bold;
}
header .menu_header li.act2 a {
color: cyan;
font-weight: bold;
}

/*width inicial de items*/
.menu_header .inicio a {
    width: 90px;
    position: relative;
}

.menu_header .folder a {
    width: 130px;
}

.menu_header .contacto a {
    width: 120px;
    text-decoration: line-through;
}

/*hover-width inicio*/
.menu_header:hover .inicio a {
    width: 110px;
}

.menu_header .inicio a::before {
    content: "⌂";
    position: absolute;
    font-size: 25px;
    top: 45%;
    transform: translateY(-50%);
    left: 15px;
    opacity: 0;
    transition: all 0.4s ease-in-out;
}

/* muestra de iconos de links al hacer hover*/
.menu_header:hover .inicio a::before,
.menu_header:hover .folder a::before,
.menu_header:hover .contacto a::before {
    opacity: 1;
}


/*-------before proyectos--------*/

/*hover-width proyecto*/
.menu_header:hover .folder a {
    width: 155px;
}

.menu_header .folder a::before {
    content: "🗄";
    position: absolute;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    opacity: 0;
    transition: all 0.4s ease-in-out;
}

/*before contacto*/

.menu_header .contacto a::before {
    content: "🖂";
    position: absolute;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    opacity: 0;
    transition: all 0.4s ease-in-out;
}

/*hover-width contacto*/
.menu_header:hover .contacto a {
    width: 155px;
}

/*-----sombra externa de los items del menu---*/
.menu_header .contacto a:hover,
.menu_header .folder a:hover,
.menu_header .inicio a:hover {
    transform: scaleX(1.1);
    box-shadow: 0px 4px 5px rgba(255, 255, 255, 0.8);
    border-top: #222;
    background-color: rgb(40, 13, 13);

}