<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyectos-Luis</title>
    <link rel="stylesheet" href="css/proyectos.css">
    <link rel="stylesheet" href="css/menu_header.css">
</head>

<body>
    <header>
        <ul class="menu_header">
            <li class="inicio"><a href="#">Inicio</a></li>
            <li class="folder"><a href="#">Proyectos</a></li>
            <li class="contacto"><a href="#">Contacto</a></li>
        </ul>
    </header>

    <h1>Mis proyectos</h1>
    <main class="contenedor-grid">
        <div class="proyecto">
            <img src="/img/crud.PNG" alt="Proyecto 1">
            <h2>Proyecto Restaurante</h2>
            <p>Gestión de reservas con panel administrativo y diseño responsivo.</p>
            <div class="proyecto-links">
                <a href="#" target="_blank">Código</a>
                <a href="#" target="_blank">Ver online</a>
            </div>
        </div>

        <div class="proyecto">
            <img src="/img/calendario.PNG" alt="Proyecto 2">
            <h2>Calendario Dinámico</h2>
            <p>Insertar, mostrar y eliminar eventos con almacenamiento local.</p>
            <div class="proyecto-links">
                <a href="#" target="_blank">Código</a>
                <a href="#" target="_blank">Ver online</a>
            </div>
        </div>
        <div class="proyecto">
            <img src="/img/poke.PNG" alt="Proyecto 2">
            <h2>Calendario Dinámico</h2>
            <p>Insertar, mostrar y eliminar eventos con almacenamiento local.</p>
            <div class="proyecto-links">
                <a href="#" target="_blank">Código</a>
                <a href="#" target="_blank">Ver online</a>
            </div>
        </div>
        <div class="proyecto">
            <img src="/img/calculadora.PNG" alt="Proyecto 2">
            <h2>Calendario Dinámico</h2>
            <p>Insertar, mostrar y eliminar eventos con almacenamiento local.</p>
            <div class="proyecto-links">
                <a href="#" target="_blank">Código</a>
                <a href="#" target="_blank">Ver online</a>
            </div>
        </div>
        <div class="proyecto">
            <img src="/img/webRest.png" alt="Proyecto 2">
            <h2>Calendario Dinámico</h2>
            <p>Insertar, mostrar y eliminar eventos con almacenamiento local.</p>
            <div class="proyecto-links">
                <a href="#" target="_blank">Código</a>
                <a href="#" target="_blank">Ver online</a>
            </div>
        </div>
    </main>

    <footer>
        <ul class="menu_footer">
            <li>
                <a href="https://www.linkedin.com/in/luis-villar-9238a025b/" title="visitar mi perfil de LinkedIn" target="_blank"><img src="/img/linkedin.jpg" alt="linkedin"></a>
            </li>
            <li>
                <a href="https://github.com/LuissVi/" title="visitar GitHub" target="_blank"><img
                        src="/img/github.png" alt=""></a>
            </li>
            <li>
                <a href="mailto:luisitex@gmail.com" title="Enviar correo a luisitex@gmail.com">
                    <img src="/img/imgGmail.jpg" alt="correo"></a>
            </li>
        </ul>
        <p>© 2024 Luis Villar | luisitex2085@gmail.com</p>
    </footer>
</body>

</html>